* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #app {
  min-height: 100%;
}

body {
  background: #7159c1;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  margin: 80px auto;
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}

ul li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li + li {
  border-top: 1px solid #eee;
}

button {
  border: 0;
  background: #7159c1;
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

div {
  display: flex;
  margin-top: 20px;
}

strong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 5px;
  border: 1px solid #eee;
  color: #999;
  margin-right: 10px;
}

input {
  flex: 1px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #eee;
}